baseline:yugr/baseline

# Disable all checks
disable-all-checks:yugr/disable-all-checks/1

# Bounds checks
bounds:yugr/disable-bounds-checks/2

# Aliasing
force-aliasing:yugr/force-aliasing/2

# No static
no-static:yugr/no-static/1

# Integer overflows
force-overflow-checks:yugr/force-overflow-checks/2
no-overflow-checks-nsw:yugr/no-overflow-checks-nsw/3
no-overflow-checks:yugr/no-overflow-checks/2

# Stdlib checks
stdlib-no-char-checks:yugr/stdlib/no-char-checks/2
stdlib-no-overflow-checks:yugr/stdlib/no-overflow-checks/2

# Zak's opts
algebraic-math:zakhar/algebraic-math
fast-math:zakhar/fast-math
struct-reorder-baseline:zakhar/struct-reorder-baseline
struct-reorder:zakhar/struct-reorder
niche-fixes:yugr/niche-fixes

# Outlining
#enable-hot-cold-splitting:yugr/enable-hot-cold-splitting/2
#enable-machine-splitter:yugr/enable-machine-splitter/2

# Panics
#force-panic-abort:yugr/force-panic-abort/2
#force-panic-immediate-abort:yugr/force-panic-immediate-abort/2

# PLT opts
#noplt-relax:yugr/noplt-relax/2
#plt:yugr/plt/2
